################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/skills/walkthrough-recorder
.taskstackai/
.env
.env.*
*.key
*.pem
credentials.json
secrets.json
